@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Montserrat:wght@300;400;500;600;700&display=swap');


body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    height: 3000px;
    overscroll-behavior: none;
    margin-top: 110px;
    background-color:  #fafafa;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    background-color: white;
    height: 90px;
    right: 0px;
    left: 0px;
    border-bottom: 1px lightgray solid;
}

.logo {
    margin-left: 10px;
    padding: 0px 0px 0px 15px;
}

.black-heading {
    margin: 0px;
    color: white;
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.first-heading {
    font-weight: 900;
    line-height: 50px;
    font-size: 45px;
    color: #0b0b0b;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 0px 40px 0px 20px;
    
}


.bar-corner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bar-corner div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-right: 2px solid lightgray;
    padding: 0px 15px 0px 15px;
}

.bar-corner div img {
    width: 30px;
    
}

.bar-corner div:hover {
     cursor: pointer;
}

.main {
    padding: 30px 20px 0px 110px;
    display: flex;
    gap: 10px;
    
}

.first-copy p{
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
   color: #0b0b0b;
   font-style: normal;
}

.CTA {
    color: white;
    background-color: black;
    transition-duration: 0.13s;
    padding: 15px 30px;
    font-weight: 900;
    
}

.CTA , .FAQ {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 10px;
    border-style: none;
    font-family: 'DM Sans', sans-serif;
    
}

.FAQ {
    color: black;
    background-color: white;
    border: black 1px solid;
    margin-left: 8px;
    padding: 15px 25px;
   
} 

.CTA:hover {
    background-color:  #f58523;
}

.FAQ:hover {
    background-color:  #f58523;
    color: white;
    border: none;
}

.first-copy {
    display: grid;
    gap: 20px;
    grid-template-columns: 495px;
    height: 350px;
}

.first-copy * {
    margin: 0;
}


.product-image {
    width: 750px;
    margin-top: -45px;
    margin-right: 5px;
    

}

.brands-banner {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.prdc-sec {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
    grid-template-rows: 200px;

}

.prdc-sec img {
    width: 300px;
    height: 150px;
    border-radius: 8px;
}

.prdc-grid {
    background-color: fuchsia;
    display: flex;
    justify-content: center;
}